<h1>Kingsong 1 ใกล้รุ่ง</h1>
<pre>
เนื้อเพลง : ใกล้รุ่ง
ศิลปิน : เพลงพระราชนิพนธ์

ได้ยินเสียงแว่วดังแผ่วมาแต่ ไกล ไกล
ชุ่มชื่นฤทัย หวานใดจะปาน
ฟังเสียงบรรเลง ขับเพลงประสาน
จากทิพย์วิมาน ประทานกล่อมใจ

* ใกล้ยามเมื่อแสง ทอง ส่อง
ฉันคอยมองจ้อง ฟ้าเรืองรำไร
ลมโบกโบยมา หนาว ใจ
รอช้าเพียงไร ตะวันจะมา

** เพลิดเพลินฤทัย ฟังไก่ประสานเสียงกัน
ดอกมะลิวัลย์ อวลกลิ่นระคนมณฑา
โอ้ในยามนี้ เพลิน หนักหนา
แสงทองนวลผ่องนภา แสนเพลินอุราสำราญ

*** หมู่มวลวิหคบินผกมาแต่ รัง นอน
เฝ้าเชยชิดช้อน ลิ้มชมบัวบาน
ยินเสียงบรรเลง ดังเพลงขับขาน
สอดคล้องกังวาน ซาบซ่านจับใจ

( ซ้ำ * , ** , *** )

</pre> 
