<h1>Kingsong 2 ชะตาชีวิต</h1>
<pre>
เนื้อเพลง : ชะตาชีวิต
ศิลปิน : เพลงพระราชนิพนธ์

นกน้อยคล้อยบินมาเดียวดาย
...คิดคิดมิวายกังวลให้หม่นฤทัยหมอง
ขาดมวลมิตรไร้คนสนิทคู่เคียงครอง
หลงไหลหมายปองคนปรานี
...ขาดเรือนแหล่งพักพำนักนอน
ขาดญาติบิดรและน้องพี่
บาปกรรมคงมี จำทนระทม

...ท้องฟ้าสายัณห์ตะวันเลือน
...แสงลับนับวันจะเตือนให้ใจต้องขื่นขม
หากเย็นลงฟ้าคงยิ่งมืดยิ่งตรอมตรม
ชีวิตระทมเพราะรอมา
...จวบจันทร์แจ่มฟ้านภาผ่อง
เฝ้ามองให้เดือนชุบวิญญา
สักวันบุญมา ชะตาคงดี

นกน้อยคล้อยบินมาเดียวดาย
...คิดคิดมิวายกังวลให้หม่นฤทัยหมอง
ขาดมวลมิตรไร้คนสนิทคู่เคียงครอง
หลงไหลหมายปองคนปรานี
...ขาดเรือนแหล่งพักพำนักนอน
ขาดญาติบิดรและน้องพี่
บาปกรรมคงมี จำทนระทม

...ท้องฟ้าสายัณห์ตะวันเลือน
...แสงลับนับวันจะเตือนให้ใจต้องขื่นขม
หากเย็นลงฟ้าคงยิ่งมืดยิ่งตรอมตรม
ชีวิตระทมเพราะรอมา
...จวบจันทร์แจ่มฟ้านภาผ่อง
เฝ้ามองให้เดือนชุบวิญญา
สักวันบุญมา ชะตาคงดี

</pre> 
